@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  text-align: center;
  color: white;
  height: 100%;
  background: #000D26;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #000D26;
}

html {
  background: #000D26;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}